body{
  background-color: #101820FF;
  color: #ddd;
}
*{
  box-sizing: border-box;
}
main{
  max-width: 500px;
  margin: 40px auto;
}
form{
  border: 3px solid #30313D;
  border-radius: 10px;
  padding: 10px;
  display:flex;
}
form input[type="text"] {
  background: none;
  color:#fff;
  border:0;
  padding: 28px;
  display:block;
  width: 100%;
}
form button{
  background-color: #03C988;
  border:0;
  border-radius: 6px;
  cursor:pointer;
  margin: 5px;
}

div.task{
  background-color: #424244;
  border-radius: 10px;
  padding: 15px 19px;
  margin: 20px;
  display:flex;
  align-items: center;
  transition: opacity .3s linear;
}
div.task svg{
  height: 20px;
  margin-right: 6px;
  fill: #03C988;
}
div.task.done{
  opacity: 0.3;
}
div.task-name, div.task form{
  flex-grow:1;
}
div.task span{
  position:relative;
}
div.task span:before{
  content:'';
  display:block;
  width:0;
  height:1px;
  background-color: #ddd;
  position:absolute;
  top: 10px;
  transition: width .1s linear;
}
div.task.done span:before{
  width: 100%;
}

h1, h2{
  text-align: center;
}

div.checkbox{
  display:flex;
  align-items: center;
}

button.trash{
  background:none;
  border:none;
  display:flex;
  cursor:pointer;
}
button.trash svg{
  fill: #888;
  height: 14px;
}
div.task input{
  border: 2px solid #555;
  border-radius:5px;
  padding: 2px 4px;
}

.record {
  height: 20px;
  display: block;
  width: 100%;
  margin: 6px auto;
}

/* hhh */

